branches:
  only:
  - master

os:
  - windows
env:
  - MSBUILD_PATH="c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin"
script:
  - export PATH=$MSBUILD_PATH:$PATH

language: cpp

script:
  - ls "c:\Program Files (x86)"
  - ls "c:\Program Files\"
  - ls "c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin"
  - ls "c:\Program Files\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin"
  - msbuild -v
  - git clone https://github.com/Microsoft/vcpkg.git
  - cd vcpkg
  - ./bootstrap-vcpkg.bat
  - vcpkg integrate install
  - vcpkg install gtk:x64-windows
  - vcpkg export --zip gtk:x64-windows
  
before_deploy:
 - git config --local user.name "Federico Santamorena"
 - git config --local user.email "federico@santamorena.me"
 - find . -maxdepth 1 -not -type d

deploy:
  provider: releases
  skip_cleanup: true
  draft: false
  prerelease: true
  name: $TRAVIS_TAG
  body: $TRAVIS_COMMIT_MESSAGE
  target_commitish: $TRAVIS_COMMIT
  file_glob: true
  api_key:
    secure: $GITHUB_TOKEN
  file: \*.zip
  on:
    repo: yatima1460/GTK3-Windows-x64

notifications:
  email:
    on_success: never
    on_failure: always
